/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* COMMON */

img{
    width: 200px;
    height: 100px;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: white;
    background-color: grey;
 
}

/* UTILITIES */

/* MAIN */

main{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
    padding: 40px;
}

.speaker{
    position: absolute;
    right: 5px;
    height: 10px;
    border-radius: 50px;
   
}

.videos{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80vh;
    justify-content: space-between;
    margin: 4% 0;
    flex-wrap: wrap;
    row-gap: 2px;
    column-gap: 2px;
    width:calc(90% / 35);
}
.video{
    position:relative;
    flex-basis: 11%;
    
}

.video>span{
    position: absolute;
    background-color: grey;
    color: white;
    bottom: 8px;
    left: 6px;

}

.footer{
position: relative;
background-color: grey;
height: 10vh;
width: 100%;



}

.left-nav{
    display: flex;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 20px;
    line-height: center;
    bottom: -10px;
}

.microphone{
    margin: 0 20px;
    line-height: center;
   
}


.central-nav{
    display: flex;
    position: absolute;
    line-height: center;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    bottom: -10px;
    justify-content: space-between;
}
.central-nav>a{
    margin: 0 20px 0 20px;
    
}